{%- if data is not none and data|length > 0 %}

{% for item in data %}

## {{ item["executable"] }}

- **File Size**: {{ item["file_size"] }}
- **Hash**: {{ item["hash"] }}
- **Version**: {{ item["version"] }}
- **Run Count**: {{ item["run_count"] }}
- **Last Run Times**:
{%- for time in item["last_run_times"] %}
  - {{ time }}
{%- endfor %}
- **Files Accessed**:
{%- for file in item["files_accessed"] %}
{%- if file is not none %}
  - {{ file }}
{%- endif -%}
{%- endfor %}

{%- endfor %}

{% endif %}
